@import "compass/css3/border-radius";

$action-picker_bgcolor                           : #000 !default;
$action-picker_color                             : #fff !default;

$action-picker_bottom                            : 1.4em !default;
$action-picker_right                             : 1.4em !default;
$action-picker_z-index                           : 1 !default;

$action-picker-action-container_bottom           : 0 !default;
$action-picker-action-container_right            : 0 !default;
$action-picker-action-container_width            : auto !default;
$action-picker-action-container_height           : auto !default;

$action-picker-icon_vertical-align               : text-top !default;

$action-picker-action-container-sub_margin-bottom: 0.7em !default;
$action-picker-action-container-sub_margin-right : 0.4em !default;

$action-picker-main-action_z-index               : 2 !default;

$action-picker-sub-action_min-width              : 1.9em !default;
$action-picker-sub-action_width                  : 1.9em !default;
$action-picker-sub-action_height                 : 1.9em !default;

$action-picker-label_border-radius               : 0.5em !default;
$action-picker-label_bottom                      : calc(50% - 10px) !default;
$action-picker-label_right                       : 4.5em !default;
$action-picker-label_background-color            : $action-picker_bgcolor;
$action-picker-label_color                       : $action-picker_color;
$action-picker-label_height                      : 1.5em !default;
$action-picker-label_line-height                 : 1.5em !default;
$action-picker-label_padding                     : 0 10px !default;

.action-picker {
  position: fixed;
  bottom  : $action-picker_bottom;
  right   : $action-picker_right;
  z-index : $action-picker_z-index;
  > .action-container {
    position: absolute;
    bottom  : $action-picker-action-container_bottom;
    right   : $action-picker-action-container_right;
    width   : $action-picker-action-container_width;
    height  : $action-picker-action-container_height;
    i[class^='icon-i'] {
     &::before {
       vertical-align: $action-picker-icon_vertical-align;
     }
   }
    &.sub {
      margin-bottom: $action-picker-action-container-sub_margin-bottom;
      margin-right : $action-picker-action-container-sub_margin-right;
    }
    .main-action {
      z-index: $action-picker-main-action_z-index;
    }
    .sub-action {
      min-width: $action-picker-sub-action_min-width;
      width    : $action-picker-sub-action_width;
      height   : $action-picker-sub-action_height;
    }
    > .action-label {
      @include border-radius($action-picker-label_border-radius);
      position        : absolute;
      bottom          : $action-picker-label_bottom;
      right           : $action-picker-label_right;
      white-space     : nowrap;
      background-color: $action-picker-label_background-color;
      color           : $action-picker-label_color;
      height          : $action-picker-label_height;
      line-height     : $action-picker-label_line-height;
      padding         : $action-picker-label_padding;
      opacity: 0;
    }
  }
}
